<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>user1::list</title>
	</head>
	<body>
		<h3>user1 목록</h3>
		
		<a th:href="@{/index}">메인</a>
		<a th:href="@{/user1/register}">user1 등록</a>
		<form action="" method="post">
			<table border="1">
				<tr>
					<td>아이디</td>
					<td>이름</td>
					<td>휴대폰</td>
					<td>나이</td>
					<td>관리</td>
				</tr>
				<tr th:each="user:${users}">
					<td>[[${user.uid}]]</td>
					<td>[[${user.name}]]</td>
					<td>[[${user.hp}]]</td>
					<td>[[${user.age}]]</td>
					<td>
						<a th:href="@{/user1/modify(uid=${user.uid})}">수정</a>
						<a th:href="@{/user1/delete(uid=${user.uid})}">삭제</a>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>